
.social-icon {
  cursor: pointer;
  text-decoration: none;
  color: white;
  opacity: 0.7 !important;
}
.fa-facebook-f:hover {
  color: #3b5998;
  opacity: 1;
  transform: scale(1.5);
}

.fa-twitter:hover {
  color: #1da1f2;
  opacity: 1;
  transform: scale(1.5);
}
.fa-linkedin-in:hover {
  opacity: 1;
  transform: scale(1.5);
}
.decoration {
  text-decoration: none;
}

/*TOP ARROW*/
.top-arrow {
  color: white;
  position: relative;

  animation-name: toparrow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes toparrow {
  0% {
    opacity: 0.6;
    bottom: 0px;
  }
  50% {
    opacity: 0.8;
    bottom: 10px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

/*app icon*/
.fa-android:hover {
  opacity: 1;
  color: #3ddc84;
  transform: scale(1.5);
}

.fa-apple:hover {
  opacity: 1;
  color: white;
  transform: scale(1.5);
}
.connectus{
  color: white;
cursor: pointer;
}
.connectus:hover {
  color: tomato;
}
/*Rights*/
.Rights {
  font-size: 11px;
}


.con-s{
position: absolute;
  left: 7vw;
  z-index: 5;
}
.conus{
left:7vw;
  padding: 1vw;
margin: 2vw;
  width: 30vw;
background-color: rgb(22, 23, 32, 0.9);
border-radius: 25px;
}

.con-s{
  display: none;
}
.tex-are{
  width: 100%;
  border-radius: 15px;
  height: 20vh;
  color: #141620;
  background-color: rgb(255, 255, 255, 0.7);
  border: none;
  outline: none;
}
.tex-are:hover{
  border-radius: 15px;
  box-shadow: 0 0 0pt 2pt #51c4d3;
  outline: none !important;
}
.tex-are:focus {
  border-radius: 15px;
  box-shadow: 0 0 0pt 2pt #16c79a;
  outline: none !important;
}
.sendbtn{
  width: 130px;
  border: 1px solid #16c79a;
  background-color: transparent;
  border-radius: 15px;
  color: white;
}
.sendbtn:hover,.sendbtn:focus{
  color:#141620;
  background-color: #16c79a;
}

.clo-icon{
  font-weight: bold;
  position: absolute;
  color: white;

}
.clo-icon:hover{
  color: tomato;
}

.clos-con{
  margin-right: 1vw;
}
@media only screen and (max-width: 1199px) {
  .conus{
    width: 80vw;
  }
  .clos-con{

    margin-right: 6vw;
    margin-top: 2vh;
  }

}
