.fillstar {
  color: #ffe227;
}
.strokestar {
  color: rgb(0, 0, 0, 0);
  -webkit-text-stroke: 1px #ffe227;
}
.ratemarrgen {
  margin: 1px;
}


.search{
  position: relative;
  z-index: 3;
}
.search_icon {
  position: absolute;
  color: #141620;
  z-index: 1;
  right: 10vw;
}

.search_icon:hover {
  color: tomato;
}
#s-bar {
  height: 35px;
  width: 80vw;
  border: none;
  border-radius: 15px;
  color: #141620;
  background-color: rgb(255, 255, 255, 0.5);
  border: none;
  font-weight: bold;
}
#s-bar:focus {
  outline: none !important;
  border: 2px solid tomato;
  border-radius: 15px;
}

.search-slid{
  display: none;
  margin-top: -35px;
  position: absolute;
  z-index: 2;
  width: 85vw;
  padding-top: 50px;
margin-left: 7vw;

background-color: rgb(255, 255, 255, 0.6);
border-radius: 15px;
}
.element{
  cursor: pointer;  
}
#dataimg{
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.titel{
  font-size: 12px;
  opacity: 0.8;
}
