.fillstar {
  color: #ffe227;
}
.strokestar {
  color: rgb(0, 0, 0, 0);
  -webkit-text-stroke: 1px #ffe227;
}
.ratemarrgen {
  margin: 1px;
}
.s-icon{
  position: absolute;
 z-index: 1;

}


.search_icon {
  color: #141620;
}


.search_icon:hover {
  color: tomato;
}
.s-w{
  width: 80vw;
}
#s-bar {
  height: 35px;
width: 100%;
  border: none;
  border-radius: 15px;
  color: #141620;
  background-color: rgb(255, 255, 255, 0.5);
  border: none;
  font-weight: bold;
}
#s-bar:focus {
  outline: none !important;
  border: 2px solid tomato;
  border-radius: 15px;
}

.search-slid{
display: none;
position: absolute;
  z-index: 2;
  width: 80vw;
  max-height:  40vh;
  overflow-y: scroll;
background-color: rgb(255, 255, 255, 0.9);
border-radius: 0 0 15px 15px;
}

 
/* Handle */
.search-slid::-webkit-scrollbar-thumb {
  background: #141620; 
  border-radius: 10px;
}
.search-slid::-webkit-scrollbar-track {
  box-shadow: none; 
}
 
.element{
  cursor: pointer;  
}
.element:hover{
  background-color: rgb(20, 22, 32, 0.9); 
  color: white;
  border-radius: 25px;
}
#dataimg{
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.titel{
  font-size: 12px;
  opacity: 0.8;
}
#error{
  display: none;
}

.s-data{
  cursor: pointer;
}

@media only screen and (max-width: 1199px) {

.ele-phone{
  flex-direction: column;
}
}