/*background video*/
#myVideo {
  position: relative;
  object-fit: cover;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0.3;
  clip-path: polygon(0px 0px, 100% 0px, 100% 85%, 0px 100%);
}

.items {
  position: absolute;
  top: 40%;
  width: 100%;
}

#scroll {
  position: absolute;
  z-index: 2;
  bottom: 3.2vh;
}

/*City*/
.tex {
  letter-spacing: 3.5px;
}
.city-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  border-radius: 25px;
}
.card-contant {
  background-image: linear-gradient(
    to bottom,
    rgba(20, 22, 32, 0),
    rgba(20, 22, 32, 0.5),
    rgba(20, 22, 32, 0.9)
  );
  border-radius: 0 0 25px 25px;
}
.city-link {
  text-decoration: none;
}

/*end city*/
/*uppercase*/
.upe {
  text-transform: capitalize;
}

/*Slider*/

.S-slid {
  cursor: pointer;
  height: 300px;
  border-radius: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slidedata {
  position: absolute;
  z-index: 9;
}
.slideshape {
  position: absolute;
  z-index: 8;
  bottom: 5px;
  background-color: #141620;
  width: 60vw;
  height: 120px;
  clip-path: polygon(0 0, 100% 100%, 0px 100%);
}

/*arrow-slide style and animate*/

.icon:hover {
  opacity: 0.5;
}
.icon:focus {
  opacity: 1;
}
.left {
  position: absolute;
  z-index: 4;
  width: 50px;
  animation-name: leftarrow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes leftarrow {
  0% {
    opacity: 0.6;
    left: 10px;
  }
  50% {
    opacity: 0.8;
    left: 20px;
  }
  100% {
    opacity: 1;
    left: 10px;
  }
}

#right {
  position: absolute !important;
  z-index: 4;
  width: 50px;
  animation-name: rightarrow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes rightarrow {
  0% {
    opacity: 0.6;
    right: 10px;
  }
  50% {
    opacity: 0.8;
    right: 20px;
  }
  100% {
    opacity: 1;
    right: 10px;
  }
}
.head-home {
  position: absolute;
  width: 100%;
}
@media only screen and (max-width: 1199px) {

  .tex-des {
    font-size: 10px;
  }


.tex-des{

  font-size: 10px;
}}

