

.login{
    position: absolute;
    z-index: 3;
    top: 6vw;
    right: 1vw;
    width: 32vw;
    background-color:  rgb(22, 23, 32,0.9) ;
    align-items: center;
  border-radius:15px;
}
.register{
    color: #16c79a;
text-decoration: none;
}
.register:hover{
    color: tomato;
}
.inp{
    width: 100%;
}
.log-btn{
    width: 130px;
    border: 1px solid #16c79a;
    background-color: #16c79a;
    border-radius: 15px;
    color: #141620;

}
.log-btn:hover{
    color:white;
    border: 1px solid #16c79a;
    background-color: transparent;
  }

  .googel-icon{
      color: white;
  }
  .googel-icon:hover{
    color:#EA4335 ;
}

  

  
