.allmedia{

    width: 100%;
    height: 85vh;
}

.media-items{
    position: absolute;
    right: 1.8vw;
}
.data-card{
  width:auto !important;
  
    padding: 15px;
    border-radius: 25px;
    background-color: rgb(20, 22, 32,0.8);

}
@media only screen and (max-width: 1199px) {

    .data-card{
    width: 100%;
  }
  }
.data-btn{
  cursor: pointer;
    width: 100%;
    color: white;
    background-color: #16c79a;
    border-radius: 25px;
    border: none;
}
.data-btn:hover{
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 2px #16c79a;
    /* border:inset solid 1px #16c79a; */
}
#aforyou{
    display: none;
}
.a-arrow{
    opacity: 0.8;
}
.a-arrow:hover{
    transform: scale(1.5);
opacity: 1;
}
.square-media{
    width:4vw;
    height: 4vw;
    border-radius: 15px;
    border: 2px solid white;
    background-position: center;
  background-repeat: no-repeat;
  background-size: 7vw;
}

@media only screen and (max-width: 768px) {

    .square-media{
        width:12vw;
        height: 12vw;
        border-radius: 15px;
        border: 2px solid white;
        background-position: center;
  background-repeat: no-repeat;
  background-size: 20vw;
    }
  }
.select{
    width: 40vw;
}
@media only screen and (max-width: 1199px) {

    .select{
        width: 40vw;
    }
  }



  .search-wrapper  {
    overflow-y: scroll !important;
    border-radius: 25px !important;
  
    max-height: 35px !important;
 
    color: #141620;
    background-color: rgb(255, 255, 255, 0.7) !important;
    border: none !important;
    outline: none !important;
  
  }
  .search-wrapper:hover{
    box-shadow: 0 0 0pt 2pt #51c4d3 !important;
    outline: none !important ;
  }
  .search-wrapper:focus {
    box-shadow: 0 0 0pt 2pt #16c79a !important;
    outline: none !important;
  }


   .search-wrapper::-webkit-scrollbar {
    width: 10px;
    height: 0 !important;
  }
  
   .search-wrapper::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #4aa96c;

  }
  .optionListContainer{
      border-radius: 25px !important;

  }
  .lhyQmCtWOINviMz0WG_gr{
    background-color: rgb(20, 22, 32,0.8) !important;
    color: white !important;
}
  
  .false:hover {
      background-color: rgb(20, 22, 32,0.8) !important;
      color: white !important;
  }
  .icon_cancel{
      color: white !important;
  }
  .icon_cancel:hover{
color: tomato !important;
  }
  .chip:hover{
background-color: #4aa96c !important;
color: white !important;
  }

  
        ol li{
                background-color: rgb(255, 255, 255, 0.4); 
                border-radius: 50%;
                height: 10px;
                width: 10px;
                margin-right: 20px;
           
        }
  
        ol .active{
  background-color: rgb(255, 255, 255, 1); 
}
.h-me{
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
  background-image: linear-gradient( rgb(20, 22, 32,0.7), rgb(20, 22, 32,0));
}
.img-hotel{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


.update-icon{
  opacity: 0.5;
}


.update-icon:hover{
  opacity: 1;
  color: #4aa96c;
}

.delete-icon{
  opacity: 0.5;
}
.delete-icon:hover{
  opacity: 1;
  color: tomato;
}
.vide {
  object-fit: cover;

}
.vplay-icon{
  position: absolute;
}

.hov-media:hover{
  transform: scale(1.1);
}
.pg-me-ci{
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100vh !important;
  background-position:50% 80%;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
}
.info-bg-city{
background-color:rgb(20, 22, 32,0.6) ;
border-radius: 25px;
  /* background-image:linear-gradient( ,rgb(20, 22, 32,0.5),rgb(20, 22, 32,1), rgb(20, 22, 32,0.5),rgb(20, 22, 32,0)) ; */

}

.location-city{
  opacity: 0.8;
  color: white;
  cursor: pointer;
}
.location-city:hover {
  opacity: 1;
  color: tomato !important;
}
.yellow{
  color: #f7ea00;
}
#city-adven  #btnandlove{
width: auto !important;
}
.hide-love #love-ptn-city{
display: none;
}

.filter-icon{
  opacity: 0.5; 
}
.filter-icon:hover{
  opacity: 1;
  color:#ff8882 ;
}