.nav-profile{
    position: fixed;
    background-color:rgb(225,225,225,0.3);
    border-radius: 25px;
    color: white;
   

}

@media only screen and (max-width: 1199px) {

    .nav-profile{
        width: 50px;
    }
    #img-user-p{
        width: 40px !important;
        height: 40px !important;
    }
    }


    .nav-l-p{
        text-decoration:none ;
    }
    
.d-in-p{
    background-color:#141620;
    color:white;
    appearance: none;
}
.d-in-p:hover{
    box-shadow: none !important;

}